:root {
    --bg:   #fafafa;
    --fg:   #2f343f;
    --hl:   #7aa2f7;  /* soft blue */
    --hl2:  #f7768e;  /* pink */
    --box-bg: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg:   #1a1b26;  /* dark blue */
        --fg:   #c0caf5;  /* light blue-grey */
        --hl:   #7aa2f7;  /* soft blue for links */
        --hl2:  #f7768e;  /* pink for hover/focus */
        --box-bg: #24283b;  /* moderate blue */
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1em;
    font-family: C059, Serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: left;
}

#content {
    width: 85%; /* width of the content box */
    max-width: 52em;  /* prevents the content div from getting too wide on large screens */
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  /* adds a slight shadow for a "card" effect */
    background-color: var(--box-bg);
}

a {
    color: var(--hl);
    text-decoration: none; /* removes underline */
    transition: color 0.3s ease; /* smooth transition */
}

a:hover, a:focus {
    color: var(--hl2); /* changes color on hover and focus for accessibility */
}

a:active {
    color: var(--fg); /* changes color when the link is active (being clicked) */
}

a:visited {
    color: var(--hl); /* keeps the color the same after the link has been visited */
}
